@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Roboto+Slab:wght@100..900&display=swap');
:root{
  --border-color: rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Original Surfer', Courier, monospace;
  background: silver;
}
