---
import Button from "./Button.astro";

---
<section class="container-card">
    <div class="background">
        hola
    </div>

    <!-- <div class="container-description">
        <h1>PRODUCTO</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat placerat est, ac venenatis neque. Maecenas mollis mi elit.</p>
        <div class="container-buttons">
            <Button text={"Detalles"}/>
            <Button text={"Comprar"}/>
        </div>
    </div> -->
</section>

<style>
    .container-card {
        position: relative;
        width: 370px;
        height: 500px;
    }
    .background {
        background-color: grey;
        width: 380px;
        height: 500px;
        position: absolute;
        top: 0;
        left: 30px;
        opacity: 0.7;
        border-radius: 20px;
    }


</style>