---

---

<section class="container-hero">
  <div class="container-logo">
    <h1 class="logo">LOGO</h1>
  </div>
</section>

<style>
  .container-logo {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    width: 150px;
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    & h1 {
      color: white;
      font-size: xx-large;
      z-index: 1000;
      opacity: 1;
    }
  }

  .container-hero {
    background-image: url("https://images.pexels.com/photos/5473032/pexels-photo-5473032.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 250px;
  }

</style>
