---
---
<section class="container-hero">
        <iframe src="https://videos.pexels.com/video-files/2558530/2558530-hd_1920_1080_25fps.mp4" allow="autoplay; muted" width="500"></iframe>
</section>

<style>
    .container-hero{
        background-image: url("https://images.pexels.com/photos/5473032/pexels-photo-5473032.jpeg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 300px;
        background-color: aquamarine;
    }
</style>