---

---

<main class="container-main">
  <h1>Lado Izquierdo</h1>
  <h1>Sección Principal</h1>
  <h1>Lado derecho</h1>
</main>

<style>
  .container-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
</style>
