---
import Button from "./Button.astro";
---

<main class="container-main">
  <div class="background">
    <div class="content">
      <h1>Una gran variedad de productos.</h1>
      <a href="#" class="button">Click here</a>
      <Button text={"Click here"} bgcolor="red" color="white" />
    </div>
  </div>
</main>

<style>
  .container-main {
    width: 100%;
    height: auto;
  }

  .container-main .background {
    width: 100%;
    height: 565px;
    background-image: url("/img/background-watch.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .container-main .background .content {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-main .background .content h1 {
    text-align: center;
  }

  .container-main .background .content .button {
    background-color: blue;
    display: inline-block;
    margin: 30px 0;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
  }

  .container-main .background .content .button {
    background-color: blue;
    display: inline-block;
    margin: 30px 0;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    letter-spacing: 3px;
  }

  @media (width >= 768px) {
    /* Estilos para pantallas de 768px o más */
  }
</style>
