---


---

<main class="container-main">
  <h1>Una gran variedad de productos.</h1>
  <div class="background">
    <img src="/img/background-watch.webp" alt="background">
  </div>
</main>

<style>
  .container-main {
    width: 100%;
    height: auto;
  }

  .container-main .background{
    width: 100%;
    height: 565px;
    background-image: url('/img/background-watch.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    overflow: hidden; 
  }

  .container-main .background img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }

  .container-main h1 {
    position: absolute;
    top: 350px;
    left: 50px;
    filter: blur(0px);
    z-index: 1000;
  }
  

  

  
</style>
