---
import Card from "./Card.astro";


---

<main class="container-main">
  <img src="/src/img/imagen-celu.jpeg" alt="Imagen Celular" class="first-img">
  <section class="imgs">
    <article class="imgs-main">
      <img src="/src/img/Designer.jpeg" alt="Laptop img">
    </article>
    <article class="imgs-main">
      <img src="/src/img/Designer(1).jpeg" alt="Zippo img">
    </article>
  </section>
</main>

<style>
  h1 {
    text-align: center;
  }

  .first-img {
    width: 100vw;
    height: 600px;
    filter: blur(7px);
  }

  .imgs {
    width: 100%;
    height: 400px;
    color: silver;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
  }

  .imgs-main {
    & img {
      width: 600px;
    }
  }


  
</style>
