---
import Card from "./Card.astro";


---

<main class="container-main">
  <div class="first">

  </div>
</main>

<style>
  .first {
    width: 80%;
    height: 400px;
    background: aquamarine;
  }

  
</style>
