---
import Card from "./Card.astro";
---

<main class="container-main">
  <img src="/src/img/imagen-celu.jpeg" alt="Imagen Celular">
</main>

<style>
  h1 {
    text-align: center;
  }

  img {
    width: 100vw;
    height: 600px;
    filter: blur(7px);
  }
  
</style>
