---


---

<main class="container-main">
  <div class="first">
    <div class="container-el">
      <img src="/img/Designer.jpeg" alt="" class="image">
    </div>
    <div class="container-el"></div>
    <div class="container-el"></div>
  </div>
  <div class="first">
    <div class="container-el"></div>
    <div class="container-el"></div>
    <div class="container-el"></div>
  </div>
</main>

<style>
  .container-main {
    
  }

  .first {
    width: 80%;
    height: 400px;
    background: aquamarine;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 1px solid black;
    
}

.container-el {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.image {
    max-width: 90%;
    max-height: 90%;
}


  
</style>
