---
import Card from "./Card.astro";


---

<main class="container-main">
  <img src="/src/img/imagen-celu.jpeg" alt="Imagen Celular" class="first-img">
  <!-- <div class="container-images">
    <div class="imgs-main">
      <img src="/src/img/Designer.jpeg" alt="Laptop img">
    </div>
    <div class="imgs-main">
      <img src="/src/img/Designer(1).jpeg" alt="Zippo img">
    </div>
  </div> -->
</main>

<style>
  

  
</style>
